body {
  margin: 0;
  background-image: url("images/background-image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  background-color: white;
  min-height: 100vh; 
}